body
{
  background-color: black;
  color: #CCCCCC;
  text-align: center;
  font-family: 'Open Sans', sans-serif;
}

#wrapper
{
	width: 765px;
	margin-left: auto;
	margin-right: auto;
}
#alp
{
	width: 315px;
	min-height: 300px;
	float: left;
}
#gamble
{
   float: left;
   font-size: 200px;
   width: 450px;
}
#info
{
	padding: 25px;
	font-size: 40px;
}
#score
{
	padding: 5px;
	font-size: 30px;
}

#stop
{
	font-size: 70px;
	border: 2px solid rgb(20,0, 200);
}

.button
{
  width: 35px;
  height: 30px;
  font-size: 24px; 
  padding-bottom: 5px;
  border: 2px solid #CCCCCC;
  border-radius: 15px;
  float: left;
  margin: 3px;
  cursor: pointer;
}
#stop:hover
{
	cursor: pointer;
	background-color: rgb(5,5,0);
}